Prototypes/spotify/node_modules/
Prototypes/spotify/.env
Prototypes/zachwinter_clone_project

Prototypes/web-api-auth-examples-master/node_modules/
Prototypes/web-api-auth-examples-master/authorization_code/.env