* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(22, 22, 22);
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  text-overflow: ellipsis;
  overflow: hidden;

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
}

/* placeholder */
::placeholder,
::-webkit-input-placeholder {
  font-style: italic;
}

/* width of the entire scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar { /* Chrome/Opera/Safari */
    width: 5px;
}
::-moz-scrollbar,
::-webkit-scrollbar { /* Firefox 19+ */
    width: 5px;
}

/* color of the tracking area */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #6cf1a3f1;
}
::-moz-scrollbar-track,
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #6cf1a3f1;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, 0.5);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(41, 39, 39);  /* creates padding around scroll thumb */
}
::-moz-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, 0.5);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(41, 39, 39);  /* creates padding around scroll thumb */
}

// Transition for Vue Template
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
