#bottom_pane {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 18%;
  background-color: rgba(20, 26, 18, 0.384);
  border-top: 2px solid rgb(207, 207, 207);
  text-align: center;
  z-index: 3;

  #map {
    position: relative;
    margin: 25px 0;
    pointer-events: none;

    .map_info {
      display: block;
      margin: 10px;
    }

    #land_name {
      padding: 10px;

      h1 {
        color: rgb(141, 150, 142);
        font-size: 2rem;
      }
    }

    #coordinates {

      #display {
        display: inline-block;
        margin: 5px 10px;

        .map_detail {
          vertical-align: middle;
        }
      }

      #coord_img {
        display: inline-block;
        margin-right: 15px;
        width: 20px;
        filter: invert(100%);
      }

      h5 {
        display: inline-block;
        // color: rgba(167, 167, 167, 0.808);
        font-size: 0.9rem;
      }
    }
  }
}
