#bottom_pane {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 18%;
  background-color: rgba(20, 26, 18, 0.514);
  text-align: center;

  #map {
    position: relative;
    margin: 25px 0;

    .map_info {
      display: block;
      margin: 10px;
    }

    #coordinates {
      .display {
        display: inline-block;
        margin: 10px;
      }

      #coord_img {
        width: 25%;
        img {
          background-color: white;
          width: 5%;
          height: 5%;
        }
      }
    }
  }
}
