@import '../Mixin/position';
@import '../Mixin/transition';

#center_pane {
  @include positionProperties(absolute, 205px, '', 0, '');
  // 100% - 20% (right pane size) - 205px (left pane size)
  width: calc(80% - 205px);
  height: 82%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 4;
  text-align: left;
  overflow-y: scroll;

  #results {
    margin: 20px 40px;
    // position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    gap: 10px;

    .result_details {
      position: relative;
      margin: 5px 0;
      text-align: center;
      width: 75%;
      color: rgba(184, 184, 184, 0.733);
      cursor: pointer;
      overflow: hidden;

      li {
        position: relative;
        list-style: none;
        margin: 5px;

        img {
          position: relative;
          width: 100%;
          height: 100%;
        }
      }

      .v-a {
        font-size: 0.75rem;
        width: 100%;
        height: 100%;
        background-color: rgba(54, 54, 54, 0.8);
        color: rgb(255, 255, 255);
        @include positionProperties(absolute, 0, '', -150%, '');
        @include transitionProperties(top, 0.2s);

        .track_moods {
          @include positionProperties(absolute, 0, '', '', 0);
        }
      }

      &:hover {
        filter: drop-shadow(0px 0px 10px gray);

        .v-a {
          top: 0;
        }
      }
    }

  }
  
  #no_results {
    margin: 40px;
    color: rgba(184, 184, 184, 0.733);
  }

  #next_back_button {
    width: 100%;
    text-align: center;

    .center_nav_button {
      display: inline-block;
      margin: 10px;
      padding: 5px;
      color: rgb(214, 214, 214);
      background-color: rgb(22, 22, 22);
      border-radius: 5px;
    }

    #back_button,
    #next_button {
      cursor: pointer;
      color: rgb(173, 173, 173) !important;

      &:hover {
        color: rgb(214, 214, 214) !important;
        background-color: rgb(56, 56, 56);
      }
    }
  }
}

/* Responsive Grid Layout */
@media screen and (max-width: 770px) {
  #center_pane {
    @include positionProperties(absolute, 0 !important, '', 0, '');
    width: 100% !important;
    height: 72% !important;

    #results {
      margin: 20px 40px !important;
      grid-template-columns: repeat(4, 25%) !important;
      font-size: 15px;

      .result_details {
        width: 100% !important;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  #center_pane {
    @include positionProperties(absolute, 0 !important, '', 0, '');
    width: 100% !important;
    height: 72% !important;

    #results {
      margin: 10px 20px !important;
      grid-template-columns: 50% 50% !important;
      font-size: 12px;

      .result_details {
        width: 100% !important;
      }
    }
  }
}
@media screen and (max-width: 469px) {
  #center_pane {
    @include positionProperties(absolute, 0 !important, '', 0, '');
    width: 100% !important;
    height: 72% !important;

    #results {
      margin: 10px 20px !important;
      grid-template-columns: 100% !important;
      font-size: 10px;

      .result_details {
        width: 100% !important;
      }
    }
  }
}
