@import '../Mixin/transition';
@import '../Mixin/user_select';

$radiusVal: 100px;

@mixin mapCoverHover($shadow_x, $shadow_y) {
  box-shadow: $shadow_x $shadow_y 20px rgb(70, 70, 70);
  background-color: rgb(26, 25, 25);
  color: rgb(196, 196, 196);
}

#map_cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;

  ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    padding: 10px;

    li {
      list-style: none;
      padding: 45px 55px;
      background-color: rgba(0, 0, 0, 0.911);
      cursor: pointer;
      @include transitionProperties(all, 0.25s);
      @include userSelect(none);
    }

    #top_left {
      border-top-left-radius: $radiusVal;
      border-top: 4px solid rgb(245, 45, 45);
      border-left: 4px solid rgb(245, 45, 45);
      color: rgb(245, 45, 45);

      &:hover {
        @include mapCoverHover(-5px, -5px);
      }
    }
    
    
    #top_right {
      border-top-right-radius: $radiusVal;
      border-top: 4px solid rgb(45, 245, 62);
      border-right: 4px solid rgb(45, 245, 62);
      color: rgb(45, 245, 62);

      &:hover {
        @include mapCoverHover(5px, -5px);
      }
    }
    
    
    #bottom_left {
      border-bottom-left-radius: $radiusVal;
      border-bottom: 4px solid rgb(45, 92, 245);
      border-left: 4px solid rgb(45, 92, 245);
      color: rgb(45, 92, 245);

      &:hover {
        @include mapCoverHover(-5px, 5px);
      }
    }
    
    
    #bottom_right {
      border-bottom-right-radius: $radiusVal;
      border-bottom: 4px solid rgb(122, 45, 245);
      border-right: 4px solid rgb(122, 45, 245);
      color: rgb(122, 45, 245);

      &:hover {
        @include mapCoverHover(5px, 5px);
      }
    }
  }
}
