@import '../Mixin/transition';
@import '../Mixin/user_select';

#nav {
  position: relative;
  width: 100%;
  text-align: center;

  ul {
    position: relative;
    display: block;

    li {
      list-style: none;
      margin-bottom: 20px;
      cursor: pointer;
      text-align: left;
      color: rgb(82, 82, 82);
      @include userSelect(none);
      @include transitionProperties(all, 0.2s);

      .nav_el {
        display: inline-block;
        margin: 10px;
        width: 25px;
        vertical-align: middle;

        img {
          width: 100%;
          height: auto;
          @include transitionProperties(all, 0.2s);
        }
      }

      &:hover {
        color: rgb(145, 145, 145);

        img {
          filter: invert(100%);
        }
      }
    }

    // only effective when is clicked
    .home,
    .search,
    .records,
    .portfolio {
      background-color: rgba(50, 50, 50, 0.5);

      p {
        color: rgb(145, 145, 145);
      }

      img {
        filter: invert(100%);
      }
    }
  }
}

/* Responsive Layout */
@media screen and (max-width: 770px) {
  #nav {
    height: 100%;
    font-size: 12px;
    
    ul {
      height: 100%;
      display: grid !important;
      grid-template-columns: repeat(4, 25%) !important;

      li {
        text-align: center !important;
        margin-bottom: 0 !important;

        .nav_el {
          display: block !important;
          margin: 0 !important;
          margin-top: 8px !important;
          width: 100% !important;

          img {
            width: 25% !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  #nav {
    height: 100%;
    font-size: 12px;
    
    ul {
      height: 100%;
      display: grid !important;
      grid-template-columns: repeat(4, 25%) !important;

      li {
        text-align: center !important;
        margin-bottom: 0 !important;

        .nav_el {
          display: block !important;
          margin: 0 !important;
          margin-top: 8px !important;
          width: 100% !important;

          img {
            width: 25% !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 469px) {
  #nav {
    height: 100%;
    font-size: 12px;
    
    ul {
      height: 100%;
      display: grid !important;
      grid-template-columns: repeat(4, 25%) !important;

      li {
        text-align: center !important;
        margin-bottom: 0 !important;

        .nav_el {
          display: block !important;
          margin: 0 !important;
          margin-top: 8px !important;
          width: 100% !important;

          img {
            width: 25% !important;
          }
        }
      }
    }
  }
}
