@import '../Mixin/position';
@import '../Mixin/transition';
@import '../Mixin/user_select';

#playing_container {
  @include positionProperties(absolute, 0, '', 0, '');
  width: 100%;
  height: 100%;
  z-index: 3;

  #playing_button {
    @include positionProperties(absolute, 0, '', 50%, '');
    transform: translateY(-50%);
    width: 5%;
    margin-left: 10px;
    cursor: pointer;
    @include transitionProperties(width, 0.2s);
    @include userSelect(none);

    img {
      width: 100%;
      filter: invert(100%);
    }

    &:hover {
      width: 6%;
    }
  }

  #playing_progress_bar {
    @include positionProperties(absolute, 0, '', 0, '');
    width: 100%;
    height: 5px;
    cursor: pointer;
    @include transitionProperties(height, 0.2s);

    #playing_progress_container {
      width: 100%;
      height: 100%;
      background-color: rgb(87, 87, 87);
      border-radius: 20px;

      #bar {
        margin: 0;
        width: 0%;
        height: 100%;
        overflow-x: hidden;
        background-color: rgb(112, 194, 130);
      }
    }

    &:hover {
      height: 10px;
    }
  }

  #play_song_details {
    @include positionProperties(absolute, 50%, '', 50%, '');
    transform: translate(-50%, -50%);

    h2 {
      color: rgb(212, 212, 212);
      margin: 5px;
    }

    h5 {
      color: rgb(110, 109, 109);
    }
  }

  #playing_settings {
    @include positionProperties(absolute, '', 0, 50%, '');
    transform: translateY(-50%);
    margin-right: 10px;
    width: 5%;

    .playing_mode {
      display: inline-block;
      margin: 10px;
      width: 40%;
      filter: invert(50%);
      cursor: pointer;
      @include transitionProperties(filter, 0.2s);

      img {
        width: 100%;
      }

      &:hover {
        filter: invert(100%);
      }
    }

    .shuffle_hightlight,
    .repeat_hightlight {
      filter: invert(100%);
    }

    #modes {
      position: absolute;
      border-radius: 50%;
    }
  }
}
