@import '../Mixin/position';
@import '../Mixin/transition';
@import '../Mixin/user_select';

#playing_container {
  @include positionProperties(absolute, 0, '', 0, '');
  width: 100%;
  height: 100%;
  z-index: 3;

  #playing_button {
    @include positionProperties(absolute, 0, '', 50%, '');
    transform: translateY(-50%);
    width: 5%;
    margin-left: 10px;
    cursor: pointer;
    @include transitionProperties(width, 0.2s);
    @include userSelect(none);

    img {
      width: 100%;
      filter: invert(100%);
    }

    &:hover {
      width: 6%;
    }
  }

  #skip_buttons {
    @include positionProperties(absolute, 50%, '', '', 0);
    width: 25%;
    transform: translateX(-50%);
    text-align: center;
    
    img {
      width: 5%;
      margin: 15px 25px;
      cursor: pointer;
      filter: invert(75%);
      @include transitionProperties(filter, 0.2s);

      &:hover {
        filter: invert(100%);
      }
    }
  }

  #playing_progress_bar {
    @include positionProperties(absolute, 0, '', 0, '');
    width: 100%;
    height: 5px;
    cursor: pointer;
    @include transitionProperties(height, 0.2s);

    #playing_progress_container {
      width: 100%;
      height: 100%;
      background-color: rgb(87, 87, 87);
      border-radius: 20px;

      #bar {
        margin: 0;
        width: 0%;
        height: 100%;
        overflow-x: hidden;
        background-color: rgb(112, 194, 130);
      }
    }

    &:hover {
      height: 10px;
    }
  }

  #play_song_details {
    @include positionProperties(absolute, 50%, '', 50%, '');
    transform: translate(-50%, -50%);

    h2 {
      color: rgb(212, 212, 212);
      margin: 5px;
    }

    h5 {
      color: rgb(110, 109, 109);
      cursor: pointer;
      margin-bottom: 15px;

      &:hover {
        color: rgb(196, 196, 196);
        text-decoration: underline;
      }
    }
  }

  #playing_settings {
    @include positionProperties(absolute, '', 0, 50%, '');
    transform: translateY(-50%);
    margin-right: 20px;
    width: 5%;

    .playing_mode {
      display: inline-block;
      margin: 10px;
      width: 40%;
      filter: invert(50%);
      cursor: pointer;
      @include transitionProperties(filter, 0.2s);

      img {
        width: 100%;
      }

      &:hover {
        filter: invert(100%);
      }
    }

    .shuffle_hightlight,
    .repeat_hightlight {
      filter: invert(100%);
    }

    #modes {
      position: absolute;
      border-radius: 50%;
    }
    
    #volume {
      @include positionProperties(absolute, '', -100%, 50%, '');
      display: inline-block;
      -ms-transform: translateY(-50%) rotate(270deg); /* IE 9 */
      transform: translateY(-50%) rotate(270deg);
      margin: 0 10px 0 20px;

      input[type=range] {
        overflow: hidden;
        width: 120px;
        -webkit-appearance: none;
        background-color: #777777f1;
        border-radius: 5px;
        outline: none;
        cursor: pointer;

        &::-webkit-slider-runnable-track {
          height: 10px;
          -webkit-appearance: none;
          margin-top: -1px;
        }

        &::-webkit-slider-thumb {
          width: 10px;
          -webkit-appearance: none;
          height: 10px;
          background-color: #434343;
          box-shadow: -80px 0 0 80px #c0c0c0;
          @include transitionProperties(box-shadow, 0.2s);
        }

        &:hover {
          &::-ms-fill-lower {
            background-color: #58b37ef1;
          }

          &::-webkit-slider-thumb {
            box-shadow: -80px 0 0 80px #3acc77f1;
          }
        }
      }
    }
  }
}
