#playlist_container {
  clear: right;
  position: relative;
  height: 100%;
  margin: 10px;
  color: rgb(185, 185, 185);
  text-align: left;

  #collected {
    margin: 10px;
    max-height: 30%;
    background-color: black;
    overflow-y: scroll;
  }

  #all {
    margin: 10px;
    max-height: 40%;
    background-color: black;
    overflow-y: scroll;
  }

  .tracks {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;

    img {
      width: 50%;
      height: auto;
    }

    .song_detail {
      margin-top: 5px;
      h5 {
        font-size: 0.8rem;
      }
      h6 {
        margin-top: 5px;
        font-size: 0.7rem;
      }
      p {
        margin-top: 5px;
        font-size: 0.6rem;
      }
    }
  }
}
