@import '../Mixin/position';
@import '../Mixin/transition';

#records_area {
  width: 100%;
  height: 100%;
  color: rgb(128, 128, 128);

  #records_content {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    min-height: 100vh;
    position: relative;
    text-align: center;

    #records_board {
      position: relative;
      width: 100%;
      height: 100%;

      #records_placeholder {
        @include positionProperties(absolute, 50%, '', 50%, '');
        transform: translate(-50%, -50%);
      }

      #records_display {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'myArea myArea';
        gap: 20px;

        #headers {
          position: sticky;
          top: 0;
          grid-area: myArea;
          width: 100%;
          text-align: center;
          padding: 15px;
          background-color: rgb(51, 51, 51);
          color: rgb(173, 173, 173);
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          z-index: 10;

          .toolbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: 100%;

            input[type=text] {
              width: 45%;
              font-size: 1rem;
              border-radius: 20px;
              outline: none;
              padding: 5px 20px;
            }

            .update_btn {
              width: 30px;
              background-color: rgb(160, 160, 160);
              padding: 5px;
              border-radius: 10px;
              cursor: pointer;
              @include transitionProperties(all, 0.2s);
      
              img {
                width: 100%;
                filter: invert(0);
              }
      
              &:hover {
                background-color: rgb(0, 0, 0);
      
                img {
                  filter: invert(100%);
                }
              }
            }
          }
        }

        .records_wrapper {
          position: relative;

          .close_btn {
            @include positionProperties(absolute, '', 0, 0, '');
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: black;
            color: white;
            padding: 8px;
            z-index: 5;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
      
            &:hover {
              color: rgb(173, 173, 173);
            }
          }
        }

        .diary_title {
          margin: 20px;
          padding: 10px;
          background-color: rgb(15, 15, 15);
        }

        .records_details {
          position: relative;
          bottom: 0;
          margin: 20px;
          border-radius: 10px;
          border: 2px solid rgb(138, 138, 138);
          box-shadow: inset 0 0 1000px rgb(138, 138, 138);
          background-color: rgba(80, 80, 80, 0.25);
          cursor: pointer;
          @include transitionProperties(all, 0.25s);

          svg {
            width: 100%;
          }

          &:hover {
            box-shadow: inset 0 0 10px rgb(138, 138, 138);
          }
        }
      }
    }
  }

  #record_detail {
    @extend #records_area;
  }
}

/* Responsive Grid Layout */
@media screen and (max-width: 770px) {
  #records_display {
    grid-template-columns: 1fr 1fr !important;
    grid-template-areas: 'myArea myArea' !important;
    gap: 5px !important;

    font-size: 15px;

    .toolbar {
      input[type=text] {
        font-size: .75rem !important;
      }

      .update_btn {
        width: 25px !important;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  #records_display {
    grid-template-columns: 100% !important;
    grid-template-areas: 'myArea' !important;
    gap: 20px !important;

    font-size: 12px;
  }
}
@media screen and (max-width: 469px) {
  #records_display {
    grid-template-columns: 100% !important;
    grid-template-areas: 'myArea' !important;
    gap: 10px !important;

    font-size: 10px;
  }
}
