@import '../Mixin/position';

#right_pane {
  @include positionProperties(absolute, '', 0, 0, '');
  width: 20%;
  height: 82%;
  background-color: rgb(34, 36, 34);
  text-align: center;
  z-index: 2;
}

/* Responsive Layout */
@media screen and (max-width: 770px) {
  #right_pane {
    height: 75% !important;
  }
}
@media screen and (max-width: 600px) {
  #right_pane {
    height: 75% !important;
  }
}
@media screen and (max-width: 469px) {
  #right_pane {
    height: 75% !important;
  }
}
