@import '../Mixin/position';

#right_pane {
  @include positionProperties(absolute, '', 0, 0, '');
  width: 20%;
  height: 82%;
  background-color: rgb(34, 36, 34);
  text-align: center;
  z-index: 2;
}
