@import '../Mixin/transition';
@import '../Mixin/position';
@import '../Mixin/user_select';

$hover-color: rgb(204, 204, 204);

#settings {
  @include positionProperties(fixed, '0', 0, 50%, '0');
  width: 10%;
  transform: translateY(-50%);

  #settings_img {
    width: 40px;
    margin-right: 5px;
    float: right;
    clear: both;
    z-index: 2;
    @include transitionProperties(0.2s);

    img {
      width: 100%;
      height: auto;
      background-color: rgb(88, 88, 88);
      border-left: 4px double rgb(207, 207, 207);
      cursor: pointer;
      @include transitionProperties(0.2s);
    }

    &:hover {
      // border-left: none;

      img {
        border-left: 1px double $hover-color;
        background-color: $hover-color;
      }

      ~ #settings_text_anim {
        opacity: 1;
        left: 0;
        box-shadow: 5px 0px 15px rgb(102, 102, 102);
      }
    }
  }

  #settings_text_anim {
    @include positionProperties(absolute, 200%, '0', 50%, '0');
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border: 4px double rgb(207, 207, 207);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    z-index: 1;
    @include userSelect(none);
    @include transitionProperties(0.2s);

    h3 {
      position: absolute;
      color: rgba(177, 175, 175, 0.733);
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;
    }
  }

  #board {
    display: none;
  }
}
