@import '../Mixin/position';
@import '../Mixin/user_select';

@mixin checkboxesPositioning() {
  @include positionProperties(absolute, 0, '', -50%, '');
  transform: translateY(-40%);
  height: 25px;
  width: 25px;
}

#board {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(172, 172, 172);
  text-align: center;
  z-index: 2;

  #closeBtn {
    margin: 10px;
    padding: 5px;
    text-align: left;
    color: black;
    cursor: pointer;

    &:hover {
      h3 {
        color: rgb(199, 199, 199);
      }
    }
  }

  li {
    position: relative;
    list-style: none;

    .content {
      margin: 10px;
      display: inline-block;
    }

    h4 {
      float: left;
      clear: left;
      text-align: left;
    }

    p {
      float: right;
      clear: right;
      text-align: right;
    }
  }

  hr {
    clear: both;
    margin: 20px 10px;
    border-color: black;
  }

  // Personalisation Settings
  #settings_section {
    position: relative;
    text-align: center;
    width: 100%;
    max-height: 54%;
    overflow-y: scroll;
    overflow-x: hidden;

    .checkboxes {
      position: relative;
      max-width: 100%;
      margin-bottom: 20px;

      div {
        display: inline-block;
        margin: 5px;
      }

      .titles {
        position: relative;
        margin-right: 10px;

        h3 {
          text-align: right;
          font-size: 1.25rem;
        }

        h4 {
          text-align: right;
          font-size: 0.9rem;
          width: 140px;
  
          // put hyphens in and break text according to a defined width
          word-break: keep-all;
        }
      }

      .check_fields {
        // display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        @include userSelect(none);

        // Create a custom checkbox
        .checkmark {
          @include checkboxesPositioning();
          background-color: #eee;
          z-index: 1;
        }

        // Hide a default checkbox
        input[type=checkbox] {
          @include checkboxesPositioning();
          opacity: 0;
          cursor: pointer;
          z-index: 2;

          // When the checkbox is checked, add a blue background
          &:checked {
            ~ .checkmark {
              background-color: rgb(97, 238, 97);
              border: 3px solid black;
            }
          }
        }

        &:hover {
          input ~ .checkmark {
            background-color: #ccc;
          }
        }
      }
    }

    // Inputs Fields
    #input_fields {
      text-align: left;

      p {
        margin: 10px;
        font-size: 0.75rem;
      }

      .fields {
        margin: 10px;

        input[type=text],
        input[type=number] {
          width: 100%;
          padding: 5px;
          border-radius: 20px;
          outline: none;
        }
      }
    }

    // Blur
    .blur {
      filter: blur(5px);
      @include userSelect(none);
      pointer-events: none;
    }
  }

  // Buttons
  .btnStyling {
    @include positionProperties(absolute, 0, '', '', 0);
    width: 100%;
    text-align: center;
    background-color: rgb(201, 201, 201);

    .decidingBtns {
      display: inline-block;
      margin: 20px;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }

    #save {
      background-color: rgb(70, 211, 70);
    }

    #reset {
      background-color: rgb(211, 70, 70);
    }
  }
}
