@import '../Mixin/transition';

#settings {
  position: fixed;
  width: 25%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  #settings_img {
    width: 30px;
    margin-right: 5px;
    float: right;
    clear: both;

    img {
      width: 100%;
      height: auto;
      background-color: rgb(88, 88, 88);
      border: 2px solid rgb(48, 48, 28);
      cursor: pointer;
      @include transitionProperties(0.2s);

      &:hover {
        background-color: rgb(145, 231, 145);
      }
    }
  }

  #board {
    display: none;
  }
}
