@import '../Mixin/transition';

.song_data_container {
  display: none;
  position: absolute;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(58, 102, 80);
  z-index: 1;
  @include transitionProperties(all, 0.2s);

  h3 {
    color: snow;
    font-size: 0.5rem;
    text-align: center;
  }

  &:hover {
    background-color: rgb(64, 66, 65);
    z-index: 100;
  }
}
