#title {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 40px;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 3;

  h1 {
    font-size: 3rem;
    color: rgb(175, 175, 175);
  }
}

/* Responsive Text */
@media screen and (max-width: 770px) {
  h1 {
    font-size: 2.75rem !important;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem !important;
  }
}
@media screen and (max-width: 469px) {
  h1 {
    font-size: 2.0rem !important;
  }
}
