@import '../Mixin/transition';

#user_account {
  position: relative;
  margin: 20px 5px;
  text-align: right;

  ul {
    position: relative;
    list-style: none;
    border-radius: 25px;
    border: 2.5px solid rgb(10, 10, 10);
    padding: 2px;
    margin: 0 10px 15px 0;
    background-color: rgb(10, 10, 10);
    float: right;
    width: 55%;
    cursor: pointer;
    @include transitionProperties(border, 0.1s);

    li {
      display: inline-block;
      margin-right: 15px;
      color: rgb(82, 82, 82);
      vertical-align: middle;
      @include transitionProperties(color, 0.1s);
    }

    #user_img {
      width: 20%;
      img {
        width: 100%;
        height: auto;
        @include transitionProperties(filter, 0.1s);
      }
    }

    // Drop-down Menu
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgb(29, 29, 29);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(109, 109, 109, 0.2);
      z-index: 1;
      margin-top: 10px;
      text-align: left;
      border-radius: 5px;
      @include transitionProperties(display, 0.1s);

      .content {
        color: rgb(122, 122, 122);
        margin: 5px;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
          color: rgb(233, 233, 233);
          background-color: rgb(121, 121, 121);
        }
      }
    }

    &:hover {
      border: 2.5px solid rgb(179, 179, 179);

      li {
        color: rgb(179, 179, 179);
      }
    }
  }

  .section_active {

    border: 2.5px solid rgb(179, 179, 179);

    // show drop-down menu
    .dropdown-content {
      display: block;
    }
    li {
      color: rgb(179, 179, 179);
    }
  }
}

/* Responsive Layout */
@media screen and (max-width: 770px) {
  #user_account {
   margin: 20px 5px;

    ul {
      margin: 0 10px 15px 0 !important;
      width: 55% !important;

      #user_name {
        font-size: 15px !important;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  #user_account {
   margin: 10px 2px;

    ul {
      margin: 0 10px 15px 0 !important;
      width: 80% !important;

      #user_name {
        font-size: 12px !important;
      }
    }
  }
}
@media screen and (max-width: 469px) {
  #user_account {
   margin: 10px 2px;

    ul {
      margin: 0 0 15px 0 !important;
      width: 100% !important;

      #user_name {

        font-size: 10px !important;
      }
    }
  }
}
